body {
  background: linear-gradient(
    109.6deg,
    rgb(204, 228, 247) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  font-family: "Roboto", sans-serif;
}
a {
  color: rgb(70, 186, 235);
}
.tiempo-app {
  background: white;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(34, 5, 223, 0.08);
  margin: 30px auto;
  max-width: 600px;
  padding: 30px;
}
header {
  border-bottom: 1px solid rgb(231, 247, 255);
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: rgb(225, 242, 252);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
.search-form-button {
  background: rgb(69, 187, 238);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-left: 5pz;
  padding: 15px 30px;
}
main {
  padding: 30px 0;
}
.tiempo-app-data {
  display: flex;
  justify-content: space-between;
}
.tiempo-app-city {
  font-size: 35px;
  line-height: 48px;
  margin: 0;
}
.tiempo-app-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.tiempo-app-details strong {
  color: rgb(69, 187, 238);
}
.tiempo-app-temperature-box {
  display: flex;
}
.tiempo-app-icon {
  height: 80px;
  width: 80px;
}
.tiempo-app-temperature {
  font-size: 90px;
  font-weight: 600;
  line-height: 90px;
  margin: 5px;
}
.tiempo-app-unit {
  font-size: 28px;
  font-weight: 600;
  margin-top: 10px;
}
.tiempo-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.tiempo-forecast-date {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.tiempo-forecast-icon {
  font-size: 30px;
  text-align: center;
}
.tiempo-forecast-temperatures {
  color: rgb(69, 187, 238);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
.tiempo-forecast-temperature {
  padding: 0 8px;
}
footer {
  border-top: 1px solid rgb(231, 247, 255);
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  padding: 10px 0 0 0;
  text-align: center;
}
